.left-connect {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000000;
    margin-right: 20px;
}
.cart {
    margin-right: 20px;
}
.Header-container  {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header {
    height: 150px;
}
.head {
    position: fixed;
    z-index: 2000;
    width: 100%;
    margin-bottom: 200px;
    background-color: white;
    top: 0;
}
.bar-container {
    width: 100%;
    background-color: #000000;
    height: 1.4em;
}
.bar-text {
    color: white;
    
}
.right-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}
.icon-bar {
    color: #000000;
    margin-right: 10px;
}
.logo-container {
    display: flex;
    align-items: center;
    margin-left: 10px;
}
a {
        color: #000;
        background: #fff;
}
Link {
    text-decoration:none;
}
.nav-item {
    cursor: pointer;;
    color: gray;
}
.offer-wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    margin-left: 20px;
    overflow: auto;
    white-space: nowrap;
    width: 170px;
    border: 1px solid transparent;
    min-width: 50px;
    max-width: none;
    border-color: #000000;
    color: #000000;
}
.member {
    font-style: normal;
}
.offer-wrapper em {
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 1px;
    font-size: 14px;
}
.subtitle {
    line-height: 8px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
}

.left-container  {
    display:flex;
    margin-left: 50px;
    margin-bottom: 20px;
}
.button--white {
    color: #000000;
}
.offer-button {
    font-family: Merriweather Sans;
    font-size: 1rem;
    color: #000000;
    background-color: transparent;
    padding: 15px 40px;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    z-index: 0;
    letter-spacing: 2.3px;
    border: solid 1px #000000;
    text-align: center;
}
.offer-button:hover {
    background-color: #000000;
    color: white;
}
.nav-item {
    margin-left: 20px;
}
.logo {
    width: 200px;
    height: auto;
    margin-left: 10px;
}



.navigation {
    display: flex;
    margin: 0;
}
.u-vertical-align-inline-block {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.u-bg-white {
    background-color: #fff;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 20px;
}


.u-pad-r-sm {
    padding-right: 30px;
}
.u-cursor-pointer {
    cursor: pointer;
}
.u-vertical-align-inline-block {
    position: relative;
    display: flex;
    vertical-align: middle;
    float: none;
}
.u-uppercase {
    text-transform: uppercase;
}
.u-full-height {
    height: 100%;
}
.visible-sm {
    display: none!important;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.navigation .menu-item {
    margin-right: 30px;
    color: #000;
    cursor: pointer;
}
.navigation>.menu-item {
    text-transform: uppercase;
    margin-bottom: -1px;
    border-bottom: 3px solid transparent;
}

.t-text, .ui.basic.label, .wysiwyg {
    font-size: 0.8rem;
    line-height: 1rem;
    font-family: Merriweather Sans;
}
article, aside, footer, header, nav, section {
    display: block;
}
header.header .header-nav {
    height: 40px;
    padding: 30px;
}
*, :after, :before {
}
.navigation>.menu-item:not(:hover) .submenu {
    display: none;
}
.navigation>.menu-item>.submenu {
  
    position: absolute;
    /* display: -webkit-box; */
    display: -ms-flexbox;
    display: flex;
    left: 0;
    width: auto;
    margin-left: 60px;
    background-color: #fff;
    -webkit-box-shadow: 0 7px 15px 0 rgb(2 2 2 / 20%);
    box-shadow: 0 7px 15px 0rgba(2,2,2,.2);
    z-index: 999;
}
.navigation .submenu {
    margin-top: 3px;
    
}
ul ul a{
    list-style-type: circle;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-bottom: 0;
}
.navigation>.menu-item>.submenu>.menu-item .expandable {
    color: #000;
}
.navigation .menu-item a, .navigation .menu-item span {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 50px;
    max-height: 50px;
    min-height: 50px;
  
}
@media only screen and (max-width: 900px) { 
    .header {
        height: 100px;
    }
    .logo {
        width: 90px;
        height: auto;
        margin-left: 10px;
    }
}